body{
	background-color: #333333;
	/* margin-left: 50px!important;
	margin-right: 50px!important; */

}
footer{
	margin-right: 0px!important;
	margin-left: 0px!important;
}

.signup{
	padding-top: 50px!important;
	text-align: right;

}
input[type=text]:focus{
	box-shadow: 0 1px 0 0 #ffffff!important;
	border-bottom: 1px solid #ffffff!important;

}

.vit1{
	height: auto;
	width:220px;
	margin-top: 14px!important;
}
.vit2{
	height:auto;
	width: 220px;
}
.borderryt{
	border-right: 1px solid #BCBCBC!important;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 14px;
}
.setm{
	margin-right: 20px!important;
}
.sf{
	position: absolute;
	width: 100%;
	left:0;
	background-color: #5c5c5c!important;
}

.signupmain{
	background-color: #0d47a1!important;

}
.mtop{
	margin-top: 10px!important;
	margin-bottom: 10px!important;

	padding-left: 50px!important;
	padding-right: 50px!important;

}
.cclr{
	background-color: #0d47a1!important;
}
.bcolor{
	background-color: white!important;
	width: 100%;
}
.submit2{
	background-color: white!important;
	background: white;
	border:0;
	width: 100%;
	min-height: 50px;
	color: #0d47a1!important;
	font-weight: bold;
}
.tt{
	color: #0d47a1!important;
}
.fclr{
	background-color: #5c5c5c!important;
}
#logo1{
	margin-top:20px;width:25vw;
}
#logo2{
	width:30vw;
}
.fm{
	margin-bottom: 0px!important;

}
@media screen and (max-width: 992px){
	.vit1{
	height: auto;
	width:200px;
	margin-top: 14px!important;
}
.vit2{
	height:auto;
	width: 200px;
}
}
@media screen and (max-width: 950px){
	.vit1{
	height: auto;
	width:180px;
	margin-top: 14px!important;
}
.vit2{
	height:auto;
	width: 180px;
}
}
@media screen and (max-width: 863px){
	.vit1{
	height: auto;
	width:150px;
	margin-top: 14px!important;
}
.vit2{
	height:auto;
	width: 150px;
}
}
@media screen and (max-width: 750px){
.vit1{
	height: auto;
	width:118px;
}
.vit2{
	height:auto;
	width:118px;
}
}
@media screen and (max-width: 600px) {
  .signup{
	padding-top: 5px!important;
	text-align: left;

}
#logo1{
	margin-top:20px;width:60vw;margin-bottom: 20px;
}
#logo2{
	width:60vw;
}
.textalignsmall{
	text-align: center;
}
body{
	background-color: #333333;
	margin-left: 8px!important;
	margin-right: 8px!important;
}
.vit1{
	height: auto;
	width: 230px;
}
.vit2{
	height:auto;
	width: 230px;
}
.autohight{
	height: auto!important;
}
.brd{
	border: 0!important;
}
.bck{
	padding: 0!important;
}
}

@media only screen and (min-width: 993px){
.container {
	width: 100%!important;     padding: 0 5%;
}
}	

html, body{
	height: 100%;
}

.collection-item{
	height: auto;
    padding: 7px 7px!important;
}